<!DOCTYPE >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
我是网页

<table border="1">
    <tr>
        <td>id</td>
        <td>string</td>
        <td>stringch</td>
        <td>dateval</td>
    </tr>

    <tr th:if="${tests != null}" th:each="testValue:${tests}">
        <td th:text="${testValue.id}"></td>
        <td th:text="${testValue.string}"></td>
        <td th:text="${testValue.stringch}"></td>
        <td th:text="${testValue.dateval}"></td>
    </tr>
</table>

</body>
</html>